@use "variables" as variables;

//mixin
@mixin basic-btn {
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: variables.$violet;
  color: #fff;
  width: 200px;
  font-weight: 400;
  font-size: 16px;
  transition: 0.3s;
  cursor: default;

  &:hover {
    background-color: variables.$hover-violet;
  }

  &:disabled {
    background-color: lighten(variables.$violet, 20%);
  }
}
@mixin flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin sp {
  @media (max-width: 670px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 669px) {
    @content;
  }
}

.non-active,
.togglemenu > .non-active {
  color: lighten(variables.$violet, 20%);
}

.pc {
  display: block;
  @include sp {
    display: none;
  }
}
.sp {
  display: none;
  @include sp {
    display: block;
  }
}

//basic settings
* {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 1.7rem;
  @include sp {
    font-size: 14px;
  }
  h2 {
    font-size: 24px;
  }
}

//bodyタグが読み込まれないので全称セレクタに設定した
// body {
//     font-family: 'Noto Sans JP', sans-serif;
//     color: #333;
//     font-size: 15px;
//     line-height: 1.7rem;
//     @include sp {
//         font-size: 14px;
//     }
//     h2  {
//         font-size: 24px;
//     }
// }

.container {
  max-width: 1070px;
  min-width: 960px;
  margin: 0 auto;
  padding: 0 80px;
  @include sp {
    min-width: 100%;
    padding: 0;
  }
}
// footer {
//     margin-top: 10px;
//     width: 80%;
//     height: 80px;
//     background-image: url(../img/footerimg.svg);
//     background-repeat: no-repeat;
//     @include sp {
//         background-image: url(../img/footerimg-sp.svg);

//     }

// }

.fade {
  opacity: 0;
  animation: fadein-anim 0.5s Linear forwards;

  @keyframes fadein-anim {
    100% {
      opacity: 1;
    }
  }
}

.fade-show {
  opacity: 1;
}

.br-sponly {
  @include sp {
  }
}
