@use "../global" as global;

//ユーザーページ共通ヘッダー
.user-heading {
  margin-bottom: 10px;
  @include global.flex;
  h1 {
    cursor: pointer;
  }
  .user {
    text-align: right;

    p {
      display: inline-block;
      padding-left: 20px;
    }
    .logout {
      cursor: default;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  @include global.sp {
    margin-bottom: 10px;
    padding: 0 10px;
    h1 {
      width: 170px;
      padding-left: 0;
      img {
        width: 90%;
      }
    }
    .toggle-wrap {
      text-align: right;
    }
    .togglebtn {
      z-index: 20;
      font-size: 20px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      color: global.$violet;
    }
  }
}
.togglemenu {
  position: fixed;
  top: 50px;
  right: 0;
  background-color: #fff;
  padding: 10px 20px 10px 10px;
  width: 200px;
  z-index: 10;
  transform: translateX(200px);
  transition: all 0.3s;
  text-align: right;
  .icon {
    padding-right: 5px;
  }
  p {
    font-size: 15px;
    color: global.$violet;
    line-height: 2.5rem;
  }
}
.togglemenu-show {
  transform: translateX(0);
}

.username-sp {
  text-align: center;
  margin-bottom: 20px;
}

//機能ウインドウ共通
.contentarea__subtitle {
  font-weight: bold;
  color: global.$violet;
}
.item__delete {
  margin-left: 10px;
  font-size: 11px;
  color: #777;
  cursor: pointer;
}

//リスト追加ボタン
.addlistbtn {
  position: relative;
  top: 2px;
  left: 4px;
  width: 26px;
  height: 26px;
  background-color: global.$violet;
  border-radius: 50%;
  cursor: pointer;
}
.addlistbtn::before,
.addlistbtn::after {
  position: absolute;
  top: 12px;
  left: 50%;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  transform: translateX(-50%);
}
.addlistbtn::after {
  top: 7px;
  left: 3px;
  transform: rotate(90deg);
}
.addlistbtn:hover {
  opacity: 0.8;
  transition: all 0.3s;
}
.addlistbtn:active {
  color: global.$hover-violet;
  transform: translateY(1px);
}
//塗りなし
.addlistbtn_s {
  position: relative;

  width: 26px;
  height: 26px;
  cursor: pointer;
}
.addlistbtn_s::before,
.addlistbtn_s::after {
  position: absolute;
  top: 12px;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-top: 2px solid global.$violet;
  transform: translateX(-50%);
}
.addlistbtn_s::after {
  top: 6px;
  left: -12px;
  transform: rotate(90deg);
}
.addlistbtn_s:active {
  color: global.$hover-violet;
  transform: translateY(1px);
}

//リスト追加入力ボックス
.addlisttext {
  width: 90%;
  height: 28px;
  border: solid 0px;
  border-bottom: 1px solid lighten(global.$violet, 30%);
  //border-radius: 4px;
  padding-left: 5px;
  @include global.sp {
    width: 88%;
  }
}
.addlisttext:focus {
  outline: none;
  border-color: global.$violet;
}

.addlistarea {
  margin: 10px 0 15px;
  @include global.flex;

  @include global.sp {
    margin-left: 10px;
  }

  .addlisttext-color {
    background-color: #fff;
  }
}

//持ち物リスト編集へボタン
.editgoodsbtn {
  margin-top: 8px;
  border: 1px solid lighten(global.$violet, 30%);
  display: inline-block;
  padding: 2px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: lighten(global.$violet, 40%);
  }
}
.editgoodsbtn_sp {
  @include global.pc {
    display: none;
  }
  font-size: 14px;
  color: global.$violet;
  border: 1px solid lighten(global.$violet, 30%);
  border-radius: 6px;
  padding: 0 8px;
  margin-top: 6px;
}

//modal
.overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-wrapping {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 450px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    @include global.sp {
      width: 90%;
      top: 5%;
      padding: 10px;
    }

    .modal-wrapping__title {
      font-weight: 700;
      margin-bottom: 20px;
    }

    .modal-wrapping__name {
      font-size: 13px;
      line-height: 1rem;
      color: #777;
      text-align: left;
    }
    .modal-wrapping__formcontrol {
      /* デフォルトスタイルをリセット */
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      /* font-familyを継承しないので、継承させる */
      font-family: inherit;

      background-color: transparent;
      background-image: none;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      color: inherit;
      font-size: 1em;
      padding: 0.4em 0.8em;
      width: 100%;
      height: 40px;
      box-sizing: border-box;
      margin: 4px 0 10px;

      @include global.sp {
        font-size: 0.8em;
        height: 30px;
      }
    }
    .modal-wrapping__submit {
      @include global.basic-btn;
      margin: 20px 20px 0 0;
      width: 100%;
    }
    .close-modal {
      text-align: right;
      font-size: 10px;
      cursor: pointer;
      color: #888;
    }
    .modal-msgbox {
      height: 20px;
      margin-bottom: 10px;
      .modal-errormsg {
        font-size: 12px;
        text-align: left;
        line-height: 1.1rem;
        color: red;
      }
    }
  }
}
